{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>{{ user.username }}</h3>
    <ul>{% for review in reviews %}
        <li>
            <p>{{ review.book.name }} - {{ review.rate }}</p>
        </li>
        {% endfor %}
    </ul>

    <h1>Recommenations</h1>
    <ul>{% for item in recommend_books %}
        <li>
            <p>{{ item.0.name }} - {{ item.1 }}</p>
        </li>
        {% endfor %}
    </ul>
</body>

</html> {% endcomment %}