{%extends 'base.html'%}
{%block title%}Recommendations{%endblock title%}
{% if user.is_authenticated %}
{%block content%}
<div class="recommendations_page_container">
  <h2>You may like it</h2>
  <p>There are recomendations for you, based on your books' rates</p>

  <!-- here will be rendering using for -->
  <div class="block_books">
    {% if books %}
    {%for review in books %}
    <div class="book">
      <p>{{review.name}}</p>
    </div>
    {%endfor%}
    {% else %}
    <p>You don't have any rated books yet</p>
    {% endif %}
  </div>
</div>

{%endblock content%}
{%endif%}