{%extends 'base.html'%}
{%block title%}Start{%endblock title%}
{%block content%}
<div class="start_page_container">
    <h2>Rate books</h2>
    <p>This is initial step for start</p>

    <!-- here will be rendering using for -->
    <div class="block_books">
        <div class="book">
            <img src="" alt="">
            <p>This is book</p>
            <input type="range">
        </div>
        <div class="book">
            <img src="" alt="">
            <p>This is book</p>
            <input type="range">
        </div>
        <div class="book">
            <img src="" alt="">
            <p>This is book</p>
            <input type="range">
        </div>
        <div class="book">
            <img src="" alt="">
            <p>This is book</p>
            <input type="range">
        </div>
        <div class="book">
            <img src="" alt="">
            <p>This is book</p>
            <input type="range">
        </div>
        <div class="book">
            <img src="" alt="">
            <p>This is book</p>
            <input type="range">
        </div>
    </div>
</div>


{%endblock content%}