{%extends 'base.html'%}
{%block title%}Start{%endblock title%}
{%block content%}

{% if user.is_authenticated %}
Hi {{ user.username }}!
<div class="start_page_container">
    <h2>Rate books</h2>
    <p>This is initial step for start</p>

    <!-- here will be rendering using for -->
    <div class="block_books">
        {%for review in user.review.all%}
        <div class="book">
            <img src="" alt="">
            <p>{{review.book.name}}</p>
            <input type="range">
        </div>
        {%endfor%}
        
    </div>
</div>
{%endif%}

{%endblock content%}